body {
  color: $colour-dark-grey;

  ul,
  li {
    list-style: none;
    @include zero-padding-margin();
  }
  a {
    cursor: pointer;
  }
}

.components-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row !important;
}

span.answered {
  margin: auto;
}
