$font-headline-01: 'Roboto', sans-serif;
$font-headline: 'Roboto', sans-serif;
$font-heading-alternate: 'Poppins', arial, sans-serif;
$headline-letter-spacing: 0px;
$font-strapline: 'Roboto', sans-serif;
$font-body: 'Roboto', sans-serif;
$font-menu: $font-body;
$font-form: $font-body;
$font-button: $font-body;
$rradar-red: #cc0000;
$rradar-white: #ffffff;
$rradar-black: #2e2e2e;
$rradar-charcoal: #555555;
$rradar-silver: #cccccc;
$rradar-lightgray: #ddd;
$rradar-pearl: #f4f4f4;
$rradar-accent-turquoise: #1298a4;
$rradar-accent-red: #f15d59;
$rradar-accent-orange: #faa339;
$rradar-accent-blue: #57c2f0;
$rradar-additional-yellow: #fccf45;
$rradar-additional-dark-green: #0d9e8d;
$rradar-additional-purple: #9366ab;
$rradar-additional-mint: #83db96;

$rradar-article-color: #afeeee;
$rradar-sequence-color: #db7093;
$rradar-template-color: #eee8aa;

$colour-brand-primary: $rradar-red;
$colour-dark-grey: #333333;
$colour-medium-grey: #878787;
$colour-light-grey: #f8f8f8;
$colour-border-light: #ededed;
$animation-ui-duration: 0.5s;
$animation-ui-timing: cubic-bezier(0.25, 0.75, 0.25, 1);
$blueupper: #71a3ff;
$rradar-lighter-gray: #e7e7e7;
$rradar-orange-text: #fe7822;
$rradar-orange-bg: #fff2e9;
$rradar-purple-text: #f6e8eb;
$rradar-purple-bg: #9e1733;

// gradient
$rradar-gradient: -297deg;
// risk variables
$risk-first-area: rgb(204, 0, 0, 1);
$risk-first-area-gradient: rgb(204, 0, 0, 0.9);
$risk-second-area: rgb(153, 23, 51, 1);
$risk-second-area-gradient: rgb(153, 23, 51, 0.9);
$risk-third-area: rgb(44, 201, 144, 1);
$risk-third-area-gradient: rgb(44, 201, 144, 0.9);
$risk-forth-area: rgb(100, 19, 51, 1);
$risk-forth-area-gradient: rgb(100, 19, 51, 0.9);
$risk-fifth-area: rgb(254, 120, 34);
$risk-fifth-area-gradient: rgb(254, 120, 34, 0.9);
$risk-sixth-area: rgb(76, 29, 94);
$risk-sixth-area-gradient: rgb(76, 29, 94, 0.9);

$rradar-box-shadow: #97a3b8;
$rradar-deep-purple: #4c1d5e;
