.show-dashboard button {
  @include button(rgba(201, 0, 0, 0.1), $rradar-red);

  &:hover {
    @include button-hover($rradar-red, white);
  }
}

.dashboard-button-wrapper {
  display: flex;
  position: absolute;
  top: 50px;
  width: 100%;
  margin-left: 1vw;
  justify-content: center;
}

.dashboard-button {
  @media screen and (max-width: 1475px) {
    padding: 10px 10px; /* Adjust padding as needed */
    font-size: 17px; /* Adjust font size as needed */
  }
  @media screen and (max-width: 800px) {
    padding: 10px 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
  }
}

button.no:hover,
button.na:hover,
.task_help a:hover,
.ajs-button.ajs-ok:hover,
button.no.selected,
button.na.selected {
  @include button-hover($rradar-deep-purple, $rradar-white);
}

button {
  font-family: $heading-font;
  font-weight: 500;
  font-size: 18px;
  border: none;
}

.styleButtonGroup {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    &:not(:last-of-type) {
      margin-left: auto;
      margin-right: 10px;
    }
  }
}

.button-split {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: #fff;
  background-color: $brand-red-mid;
  border-color: $brand-red-mid;

  &--right {
    padding: 13px 18px 13px 12px;
    transition: border-color 0.2s ease-in-out;

    i {
      transform: rotateZ(45deg);
    }
  }

  &--left {
    padding: 13px 12px 13px 18px;
  }

  &:hover {
    background: $brand-red-mid-fade !important;
    border-color: $brand-red-mid-fade !important;
    color: $brand-red-mid;
    cursor: pointer;

    i {
      color: $brand-red-mid;
    }
  }
}
