.dropdown {
  position: relative;
  min-width: 150px; /* Wider dropdown */
  max-width: 450px; /* Wider dropdown */
  //   white-space: nowrap; /* Prevents text from wrapping */
  // overflow: hidden; /* Hides overflowing text */
  text-overflow: ellipsis; /* Adds "..." to clipped text */
  // }
}
.dropdown-btn {
  width: 100%;
  padding: 8px;
  text-align: left;
  background: white;
  border: 1px solid #ccc;
  // border-radius: 4px;
  cursor: pointer;
}

.dropdown-btn:hover {
  background: #f9f9f9;
}

.dropdown-btn.selected {
  background: #f7f7f7; /* Selected state */
  color: #cc0000;
  border-bottom: 1px solid #f7f7f7;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 320px; /* Slightly wider than the button */
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 6px 8px; /* Less padding */
}

.dropdown-link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 6px 8px; /* Less padding for a tighter fit */
  cursor: pointer;
}

.dropdown-link:hover {
  background: #f1f1f1;
}

.station-menu-bar {
  position: fixed;
  top: 68px;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 2;
  left: 50%;
}

.page-header-breadcrumbs .context-span {
  display: inline-block;
  width: 100px;
}
