.mini-sector-container {
  width: 250px; /* Adjust the width of the dropdown */
  position: relative; /* Ensure the dropdown is contained within this parent */
  padding-left: 20px;
  margin-top: 20px;
}
.sector-title {
  font-size: 13px;
  font-weight: normal;
}
.mini-sector-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #878787;
}
