.monitor-info {
  display: flex;
  height: 170px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  ul {
    height: 75px;
    width: 120px;

    list-style: none;
    @include zero-padding-margin();

    li:nth-child(1) {
      display: flex;
      justify-content: center;
      font-weight: 400;
    }
    li:nth-child(2) {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 36px;
    }
    li span {
      font-size: 14px;
      font-weight: bold;
      margin: 0 !important;
      display: inline !important;
      width: fit-content !important;
      flex: none;
      padding-top: 12px;
    }

    button {
      width: 100px;
      @include title-fontweight();
      font-size: 20px;
      min-height: 35px;
      align-items: center;
      margin: 0;
    }
  }
}
