.navigation-container {
  display: block !important;
  top: 125px !important;

  .site-navigation {
    padding-left: 50px;

    .inactive {
      &:hover {
        box-shadow: none !important;
      }
      a {
        text-transform: capitalize;

        &:hover {
          color: $rradar-red !important;
          cursor: pointer;
        }
      }
      span {
        position: absolute;
        top: 8px;
        font-size: 14px;
      }
      .underline {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background: $rradar-red;
      }
    }
  }
}
