.alertify {
  .ajs-footer {
    background-color: $rradar-white !important;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .ajs-buttons.ajs-primary {
      text-align: left;
    }
  }
  .ajs-body {
    .ajs-content {
      padding: 0;
    }
  }
  .ajs-dialog {
    border: 5px solid $rradar-white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    .ajs-ok,
    .ajs-cancel {
      @include button(#f5e7ea, $brand-red-mid);
      padding: 18px 20px;
      border: none;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      &:hover {
        @include button-hover($brand-red-mid, $rradar-white);
        text-decoration: underline;
      }
    }
  }
}
