.dashboard-card {
  padding: 1rem;
  min-height: 376px;
  background-color: white;
  border: 1px solid $colour-border-light;
  box-shadow: 0 25px 15px -25px $rradar-box-shadow;

  &:hover {
    cursor: pointer;

    a {
      text-decoration: underline;
    }
  }

  span.title {
    font-weight: bold;
    margin: auto auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    a {
      font-weight: 500;
      color: #9e1733;
    }
  }

  .open-report-button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .open-questionnaire-button {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
  }


  ul {
    list-style: none;
    @include zero-padding-margin();
  }

  ul li {
    display: flex;
    align-items: center; /* Vertically center the items */
    padding: 5px 10px;
  }

  ul li span {
    flex: 1;
  }

  .chart-and-monitor {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 15px;
  }
}

.dashboard-cards {
  display: grid;
  width: 100%;
  margin: 1em 0;
  grid-gap: 1rem;
  justify-content: center;

  @media (min-width: 920px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 425px));
  }
  @media (min-width: 1300px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  }
  @media (min-width: 1330px) {
    grid-gap: 3rem;
  }
}

.no-cards-available {
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  color: #333333;
  justify-content: center;
}
